body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(juice1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  margin-top: 20px;
  font-size: 3rem;
  color: #f0f2f4;
  

}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 2px solid #258C2C;
/*    max-width: 65px;*/
    opacity: 1;  
}

.btn {
  font-weight:700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #258C2C;
  border-color: white;
  border-width:3px;
  margin-bottom: 30px;
  }

.btn-primary:hover {
  background-color: #004E05;
  border-color:#004E05 ;
}

.btn-xl {
  padding: 1rem 2rem;
}
.buffer {
  height:30rem;
}
/*.container {
  display: flex;
  justify-content: center;
}*/